<div class="container chat-main main-pos">
  <div id="errorMsg"></div>
<div id="list">


</div>


<div id="chat-btn">
  <textarea id='newMessage'></textarea><br />
  <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Отправить</button>
</div>

</div>