<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div class="container">

  <form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Please login in</h2>
    <input type="text" id="login" name="login" class="form-control" placeholder="Login" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>