/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control, main-pos {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus, main-pos {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.chat-main {
    max-width: 800px;
    margin: 0 auto;
}
div {
    padding: 20px 0;
}
#list {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px #cccccc;
}
#newMessage {
    width: 100%;
    min-height: 110px;
    margin: 10px auto;
}
#chat-btn {
    width: 70%;
    margin: 0 auto;
}
#errorMsg {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}
.msgRed {
    color: #ff0000;
}
.msgGreen {
    color: #00ff00;
}
.right {
    float: right;
    margin: 0 20px 0 0;
}
.contentMsg {
    margin-left: 20px;
}
.nameMsg {
    margin: 0 0 5px 20px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.red {
     background-color: #fffbbc;
}
.green {
     background-color: #ccffcc;
}
.yellow {
     background-color: #ddefff;
}